<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/menu_principal.css">
    <title>Environmental System App</title>
</head>
<body>
    <section class="container" id="galeria">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Environmental System App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/soon">Waste <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/energy">Energy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/equipos">Maintenance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soon">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soon">Indicators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soon">Reports</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="text-center pt-5">
            <h1>Menu Principal</h1>
            <p>Environmental System App</p>
        </div>

        <div class="row">
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <img card-img-top src="../static/img/waste.jpg" alt="waste">
                <div class="card-body">
                    <h5 class="card-title">Waste</h5>
                    <!--<p class="card-text">Ejemplo de texto</p>-->
                    <a href="/soon" class="btn btn-primary">Go Waste</a>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <img card-img-top src="../static/img/energy.jpg" alt="energy">
                <div class="card-body">
                    <h5 class="card-title">Energy</h5>
                    <!--<p class="card-text">Ejemplo de texto</p>-->
                    <a href="/energy" class="btn btn-primary">Go Energy</a>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <img card-img-top src="../static/img/maintenance.jpg" alt="maintenance">
                <div class="card-body">
                    <h5 class="card-title">Maintenance</h5>
                    <!--<p class="card-text">Ejemplo de texto</p>-->
                    <a href="/equipos" class="btn btn-primary">Go Maintenance</a>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <img card-img-top src="../static/img/documentation.jpg" alt="documentation">
                <div class="card-body">
                    <h5 class="card-title">Documentation</h5>
                    <!--<p class="card-text">Ejemplo de texto</p>-->
                    <a href="soon" class="btn btn-primary">Go Documentation</a>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <img card-img-top src="../static/img/indicators.png" alt="indicators">
                <div class="card-body">
                    <h5 class="card-title">Indicators</h5>
                    <!--<p class="card-text">Ejemplo de texto</p>-->
                    <a href="soon" class="btn btn-primary">Go Indicators</a>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <img card-img-top src="../static/img/reports.jpg" alt="reports">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>
                    <!--<p class="card-text">Ejemplo de texto</p>-->
                    <a href="/soon" class="btn btn-primary">Go Reports</a>
                </div>
            </div>
        </div>

    </section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>